@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Panton";
  src: url("./assets/fonts/PantonDemoBlack.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100vw;
  font-family: montserrat, sans-serif;
}